{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<!DOCTYPE html>
<style>

    body {
      font-family: UbuntuMono-Regular;
    }
    </style>
    
<html style = "
height: 1300px;
margin: 0px

background: #FFFFFF;">

<head>
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/glacial-indifference" type="text/css"/>
    
</head>

<img src="https://i.paste.pics/5a117797377a01b31a5a63b2f53b2aa9.png" style="width:300px; height: 300px">

<img src="https://i.paste.pics/806ba38ecd7ef9958f6302760a0fed95.png" style="position:absolute; left: 800px; height: 500px; width: 438px">


<!--------------------------------Footer--------------------------->
<div style = "position: absolute;
width: 1440px;
height: 200px;
left: 0px;
top: 1300px;
background: #18A1C1;">

<h7 style="position: absolute;
width: 1200px;
height: 28px;
left: 150px;
top: 50px;

font-family: Glacial Indifference;
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 48px;
text-align: center;

color: #FFFFFF;"> For more information, check out <a href="#">our app on the App Store</a>
</h7>
<h7 style="position: absolute;
width: 1200px;
height: 28px;
left: 200px;
top: 100px;

font-family: Glacial Indifference;
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 48px;
text-align: center;

color: #FFFFFF;"> © 2020 PillPlantt. All Rights Reserved. 
</h7>
</div>
</html>

{% endblock %}